# logging level
openam.username=
openam.password=

#### donot change below this ####
openam.url-prod=https://am01-prod-iam-us.pwcinternal.com:8443/openam
openam.url-stage=https://am01-stg-asia.pwcinternal.com:8443/openam

# ID,TYPE,INTERNAL-AUTH,EXTERNAL-AUTH,ASSIGNED-IDP,SP-IDP,COT,REDIRECT-URLS,ACCOUNT-MAPPER,ATTRIBUTE-MAPPER,HOSTED-REMOTE
openam.table-columns=ID,TYPE,INTERNAL-AUTH,EXTERNAL-AUTH,ASSIGNED-IDP,SP-IDP,COT

logging.level.com.openam=DEBUG

# output to a file
logging.file.path=.
logging.file.name=com.openam.util.log


logging.pattern.file=%d %p %c{1.} [%t] %m%n

logging.pattern.console=%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
management.endpoints.web.exposure.include=refresh

## if no active profile, default is 'default'
##spring.profiles.active=prod

# root level
logging.level.root=WARN
logging.level.org.springframework.web=INFO
logging.level.org.apache.http==INFO