<!-- https://webformatter.com/html -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
    <head>
        <meta charset="UTF-8" />
        <title>com.openam.util</title>
        <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
        <link th:href="@{styles/main.css}" rel="stylesheet" />
        <link th:href="@{styles/tabulator.min.css}" rel="stylesheet" />
        <script type="text/javascript" src="scripts/tabulator.min.js"></script>
        <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}" type="text/javascript"></script>
        <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.20/jspdf.plugin.autotable.min.js"></script>        
        <!--  div th:replace="~{fragments/header :: header}"></div-->
        <div class="container-fluid pt-3">
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" id="myTab">
                        <li class="nav-item"><a href="javascript:void(0);" onclick="$('#selected-environment').val('stage').trigger('change')" class="nav-link active" data-bs-toggle="tab">STAGE</a></li>
                        <li class="nav-item"><a href="javascript:void(0);" onclick="$('#selected-environment').val('prod').trigger('change')" class="nav-link" data-bs-toggle="tab">PROD</a></li>
                    </ul>
                    <input type="hidden" name="selected-environment" id="selected-environment" value="stage" />
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Load</span>
                                </div>
                                <div class="d-grid gap-2 d-md-block">
                                    <button class="btn btn-primary" type="button" id="fetch-local">Local</button>
                                    <button class="btn btn-primary" type="button" id="fetch-openam">OpenAM</button>
                                    <!-- button id="import-csv">Import(CSV)</button-->
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Export</span>
                                </div>
                                <div class="d-grid gap-2 d-md-block">
                                    <button class="btn btn-primary" type="button" id="export-csv">CSV</button>
                                    <button class="btn btn-primary" type="button" id="export-pdf">PDF</button>
                                    <!-- button id="import-csv">Import(CSV)</button-->
                                </div>
                            </div>
                        </div>                        
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Column Filter</span>
                                </div>
                                <select id="col-filter-field" class="form-select">
                                    <option></option>
                                    <option value="ID">ID</option>
                                    <option value="TYPE">TYPE</option>
                                    <option value="INTERNAL-AUTH">INTERNAL-AUTH</option>
                                    <option value="EXTERNAL-AUTH">EXTERNAL-AUTH</option>
                                    <option value="ASSIGNED-IDP">ASSIGNED-IDP</option>
                                    <option value="SP/IDP">SP/IDP</option>
                                    <option value="COT">COT</option>
                                    <option value="CLAIMS">CLAIMS</option>
                                    <option value="HOSTED/REMOTE">HOSTED/REMOTE</option>
                                </select>
                                <select id="col-filter-type" class="form-select">
                                    <option value="regex">regex</option>
                                    <option value="=">=</option>
                                    <option value="!=">!=</option>
                                </select>
                                <input class="form-control" id="col-filter-value" type="text" placeholder="text" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Freetext Filter</span>
                                </div>
                                <input class="form-control" type="text" id="freetext-filter-value" name="freetext-filter-value" placeholder="text" />
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group mb-3">
                                <button class="btn btn-primary" id="filter-clear">Clear All Filters</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Quick Filters</span>
                                </div>
                                <div class="d-grid gap-2 d-md-block">
                                    <label class="btn btn-outline-secondary" style="display: none;"><input type="radio" name="quick-filter" autocomplete="off" id="quick-filter-none" style="display: none;" /> None</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="saml-apps-only" /> Saml-Apps-Only</label>
                                    <label 
                                    class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="wsfed-apps-only" /> Wsfed-Apps-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="oauth-apps-only" /> OAuth-Apps-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="2031-saml-wsfed-only" /> 2031-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="2025-saml-wsfed-only" />2025-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="internal-apps-only" /> Internal-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="saml-internal-only" /> Saml-Internal-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="wsfed-internal-only" /> Wsfed-Internal-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="oauth-internal-only" /> OAuth-Internal-Only</label>
                                    <label class="btn btn-outline-secondary"><input type="radio" name="quick-filter" autocomplete="off" id="stats-only" /> Stats-Only</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div id="openam-entities-table"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div th:replace="~{fragments/footer :: footer}"></div>
                    </div>
                </div>
                <script src="scripts/script.js" type="text/javascript"></script>
            </div>
        </div>

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        ...
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Save changes</button>
		      </div>
		    </div>
		  </div>
		</div>    
    </body>
</html>
