<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
	<meta charset="UTF-8">
	<title>com.openam.util</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link th:href="@{styles/main.css}" rel="stylesheet" />
	<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator.min.css" rel="stylesheet">
	<script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.3/dist/js/tabulator.min.js"></script>
</head>

<body class="d-flex flex-column h-100">

	<div th:replace="~{fragments/header :: header}"> </div>
	<main role="main" class="flex-shrink-0">
		<div>
		    <input type="checkbox" name="type" value="saml" /> GFG:
		    <input type="checkbox" name="type" value="wsfed" /> Geeks:
		    <input type="checkbox" name="type" value="oauth" /> Geek:
			<button id="fetch-openam-test">Ignore-Me</button>
			<button id="fetch-openam">Fetch(OpenAM)</button>
			<button id="export-csv">Export(CSV)</button>
			<button id="import-csv">Import(CSV)</button>
			<button id="all-apps-only">Apps-Only</button>
			<button id="saml-apps-only">Saml-Apps-Only</button>
			<button id="wsfed-apps-only">Wsfed-Apps-Only</button>
			<button id="oauth-apps-only">OAuth-Apps-Only</button>
			<button id="2031-saml-wsfed-only">2031-Only</button>
			<button id="2025-saml-wsfed-only">2025-Only</button>
			<button id="internal-apps-only">Internal-Only</button>
			<button id="saml-apps-internal-only">Saml-Internal-Only</button>
			<button id="wsfed-apps-internal-only">Wsfed-Internal-Only</button>
		</div>
		<div>
			<select id="filter-field">
				<option></option>
				<option value="ID">ID</option>
				<option value="TYPE">TYPE</option>
				<option value="INTERNAL-AUTH">INTERNAL-AUTH</option>
				<option value="EXTERNAL-AUTH">EXTERNAL-AUTH</option>
				<option value="ASSIGNED-IDP">ASSIGNED-IDP</option>
				<option value="SP/IDP">SP/IDP</option>
				<option value="COT">COT</option>
				<option value="HOSTED/REMOTE">HOSTED/REMOTE</option>
			</select>

			<select id="filter-type">
				<option value="regex">regex</option>
				<option value="=">=</option>
				<option value="!=">!=</option>
			</select>

			<input id="filter-value" type="text" placeholder="value to filter">

			<button id="filter-clear">Clear Filter</button>
		</div>

		<div id="example-table"></div>
		<script src="scripts/script.js">
		</script>
	</main>

	<div th:replace="~{fragments/footer :: footer}"> </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js">
	</script>
</body>

</html>