<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="h-100">
<head>
<meta charset="UTF-8">
<title>com.openam.util</title>
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" />
</head>
<body class="d-flex flex-column h-100">

	<div th:replace="~{fragments/header :: header}"></div>

	<main role="main" class="flex-shrink-0">
		<div class="container mt-5">
			<div class="jumbotron">
				<h1 class="display-4">Instructions to come here</h1>
			</div>
		</div>
	</main>

	<div th:replace="~{fragments/footer :: footer}"></div>

	<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}" type="text/javascript"></script>

	<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
	<script type="text/javascript"></script>
</body>
</html>